<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <title>miFinca</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>


<body>
    <div class=" fixed-top navbar-expand-md bg-light">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="@Url.Action("Index","Home")">
                        <img src="~/imgs/mifinca_logo.png" alt="finca logo" width="90" height="50">
                    </a>
                    @*@Html.ActionLink("miFinca", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                    @*<a class="navbar-brand" href="#">Navbar</a>*@
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ">
                            <li class="nav-item d-inline">
                                <a class="nav-link" href="@Url.Action("Index","fincas")">
                                    <i class="fas fa-home"></i>
                                    Finca
                                </a>
                                @*@Html.ActionLink("Finca", "Index", "fincas", new { area = "" }, new { @class = "nav-link active" })*@
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","finanzas")">
                                    <i class="fa-solid fa-chart-line "></i>
                                    Finanzas
                                </a>
                                @*@Html.ActionLink("Finanzas", "Index", "finanzas", new { area = "" }, new { @class = "nav-link" })*@
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","planillas")">
                                    <i class="fa-solid fa-file-invoice-dollar"></i>
                                    Planilla
                                </a>
                                @*@Html.ActionLink("Planilla", "Index", "planillas", new { area = "" }, new { @class = "nav-link" })*@
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","empleadoes")">
                                    <i class="fa-solid fa-people-group"></i>
                                    Empleados
                                </a>
                                @*@Html.ActionLink("Empleados", "Index", "empleadoes", new { area = "" }, new { @class = "nav-link" })*@
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","productoes")">
                                    <i class="fa-sharp fa-solid fa-warehouse"></i>
                                    Bodega
                                </a>
                                @*@Html.ActionLink("Bodega", "Index", "productoes", new { area = "" }, new { @class = "nav-link" })*@
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","tareas")">
                                    <i class="fa-solid fa-list-check"></i>
                                    Tareas
                                </a>
                                @*@Html.ActionLink("Tareas", "Index", "tareas", new { area = "" }, new { @class = "nav-link" })*@
                            </li>

                        </ul>

                    </div>
                </div>
            </nav>
        </div>
    </div>




    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - miFinca</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
