@model IEnumerable<mifinca.Models.finca>

@{
    ViewBag.Title = "Index";
}

@* Mapbox *@
<script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css"rel="stylesheet" />
<style>
    button a {
        color: white;
        text-decoration: none;
    }

    button a:hover {
      color: white;
    }
    .mapboxgl-ctrl-logo {
        display: none !important;
    }
</style>




<!--<p>-->
@*@Html.ActionLink("Create New", "Create")*@
<!--</p>-->
@foreach (var item in Model)
{
<div class=" row align-items-center m-4 d-flex flex-row">
    <h1 class="text-center">Mi finca</h1><!-- Tittulo de la seccion en el h1-->

    <div class=" col-sm-12 col-md-12 col-lg-6 mb-3 align-self-start">
        <h3 class="text-center"> Fotografía de la finca</h3>
        <img src="~/imgs/fincas/@Html.DisplayFor(modelItem => item.foto_finca)" class="d-block w-100" alt="..." />
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6 mb-3 align-self-start">
        <h3 class="text-center">Información</h3>
        <div class="mb-3">
            <!--Grupo de label e input: Nombre de la finca-->
            <label for="exampleFormControlInput1" class="form-label">Nombre de la finca</label>
            <input type="text"
                   class="form-control"
                   id="exampleFormControlInput1"
                   placeholder="name@example.com"
                   value="@Html.DisplayFor(modelItem => item.nombre_finca)"
                   disabled />
        </div>
        <div class="mb-3">
            <!--Grupo de label e input: Extension territorial-->
            <label for="exampleFormControlInput1" class="form-label">Extension territorial</label>
            <input type="text"
                   class="form-control"
                   id="exampleFormControlInput1"
                   placeholder="name@example.com"
                   value="@Html.DisplayFor(modelItem => item.extension)m&sup2;"
                   disabled />
        </div>
        <div class="mb-3">
            <!--Grupo de label e input: Tablones -->
            <label for="exampleFormControlInput1" class="form-label">Cantidad de tablones:</label>
            <input type="text"
                   class="form-control"
                   id="exampleFormControlInput1"
                   placeholder="name@example.com"
                   value="@Html.DisplayFor(modelItem => item.tablones)"
                   disabled />
        </div>
        <div class="mb-3">
            <!--Grupo de label e input: MSNM -->
            <label for="exampleFormControlInput1" class="form-label">MSNM(Metros Sobre el Nivel del Mar):</label>
            <input type="text"
                   class="form-control"
                   id="exampleFormControlInput1"
                   placeholder="name@example.com"
                   value="@Html.DisplayFor(modelItem => item.msnm_altura)"
                   disabled />
        </div>

        <div class="mb-3">
            <!--Grupo de label y text area: Descripcion-->
            <label for="exampleFormControlTextarea1" class="form-label">Descripción de la finca:</label>
            <textarea class="form-control"
                      id="exampleFormControlTextarea1"
                      rows="3"
                      disabled>@Html.DisplayFor(modelItem => item.desripcion)
            </textarea>
        </div>
    </div>
    <div class=" col-sm-12 col-md-12 col-lg-6 align-self-start mb-3">
        <!--Grupo de label e imagen-->
        <h3 class="text-center">Plano catastral</h3>

        <img src="~/imgs/plano_catastral/@Html.DisplayFor(modelItem => item.planoCatastral)"
             class="rounded mx-auto d-block img-fluid"
             alt="Imagen de plano catastral" />
     

    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 align-self-start mb-3">
        <h3 class="text-center">Ubicación en mapa</h3>
        <div id="map" style="width: 100%; height: 400px"></div>
    </div>

    <script>
        
            mapboxgl.accessToken ="pk.eyJ1IjoiZG91bGluIiwiYSI6ImNsYWdjcHE4dTB4YTUzdm51cm83bGpnOTIifQ.YpA5qWlMFrRs5DXsuNfrhQ";

            const map = new mapboxgl.Map({
                container: "map", // container ID
                style: "mapbox://styles/mapbox/streets-v11", // style URL
                center: [@Html.DisplayFor(modelItem => item.localizacionEntrada)], // starting position [lng, lat]
                zoom: 14, // starting zoom
                projection: "globe", // display the map as a 3D globe
            });
            map.on("style.load", () => {
                map.setFog({}); // Set the default atmosphere style
            });
            const marker = new mapboxgl.Marker()
                .setLngLat([@Html.DisplayFor(modelItem => item.localizacionEntrada)])
                .addTo(map);

    </script>

    <button type="button" class="btn btn-primary btn-lg d-flex justify-content-center">@Html.ActionLink("Editar datos", "Edit", new { id = item.id_finca })</button>


</div>
}



@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.foto_finca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre_finca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.extension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.planoCatastral)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.localizacionEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tablones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.desripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.msnm_altura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bodega.id_bodega)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.foto_finca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_finca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.extension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.planoCatastral)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.localizacionEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tablones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.desripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.msnm_altura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bodega.id_bodega)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id_finca }) |
                @Html.ActionLink("Details", "Details", new { id=item.id_finca }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id_finca })
            </td>
        </tr>
    }

    </table>*@
