@model IEnumerable<mifinca.Models.finca>

@{
    ViewBag.Title = "Index";
}

<style>
    button a {
        color: white;
        text-decoration: none;
    }

        button a:hover {
            color: white;
        }
</style>

<!--<p>-->
    @*@Html.ActionLink("Create New", "Create")*@
<!--</p>-->
@foreach (var item in Model)
{
<div class=" row align-items-center m-4 d-flex flex-row">
    <h1 class="text-center">Mi finca</h1><!-- Tittulo de la seccion en el h1-->

    <div class=" col-sm-12 col-md-12 col-lg-6 mb-3 align-self-start">
        <h3 class="text-center"> Fotografía de la finca</h3>
        <img src="~/imgs/fincas/@Html.DisplayFor(modelItem => item.foto_finca)" class="d-block w-100" alt="..." />
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6 mb-3 align-self-start">
        <h3 class="text-center">Información</h3>
        <div class="mb-3">
            <!--Grupo de label e input: Nombre de la finca-->
            <label for="exampleFormControlInput1" class="form-label">Nombre de la finca</label>
            <input type="text"
                   class="form-control"
                   id="exampleFormControlInput1"
                   placeholder="name@example.com"
                   value="@Html.DisplayFor(modelItem => item.nombre_finca)"
                   disabled />
        </div>
        <div class="mb-3">
            <!--Grupo de label e input: Extension territorial-->
            <label for="exampleFormControlInput1" class="form-label">Extension territorial</label>
            <input type="text"
                   class="form-control"
                   id="exampleFormControlInput1"
                   placeholder="name@example.com"
                   value="@Html.DisplayFor(modelItem => item.extension)m&sup2;"
                   disabled />
        </div>
        <div class="mb-3">
            <!--Grupo de label e input: Tablones -->
            <label for="exampleFormControlInput1" class="form-label">Cantidad de tablones:</label>
            <input type="text"
                   class="form-control"
                   id="exampleFormControlInput1"
                   placeholder="name@example.com"
                   value="@Html.DisplayFor(modelItem => item.tablones)"
                   disabled />
        </div>
        <div class="mb-3">
            <!--Grupo de label e input: MSNM -->
            <label for="exampleFormControlInput1" class="form-label">MSNM(Metros Sobre el Nivel del Mar):</label>
            <input type="text"
                   class="form-control"
                   id="exampleFormControlInput1"
                   placeholder="name@example.com"
                   value="@Html.DisplayFor(modelItem => item.msnm_altura)"
                   disabled />
        </div>

        <div class="mb-3">
            <!--Grupo de label y text area: Descripcion-->
            <label for="exampleFormControlTextarea1" class="form-label">Descripción de la finca:</label>
            <textarea class="form-control"
                      id="exampleFormControlTextarea1"
                      rows="3"
                      disabled>@Html.DisplayFor(modelItem => item.desripcion)
            </textarea>
        </div>
    </div>
    <div class=" col-sm-12 col-md-12 col-lg-6 align-self-start mb-3">
        <!--Grupo de label e imagen-->
        <h3 class="text-center">Plano catastral</h3>
        
           <img src="~/imgs/plano_catastral/@Html.DisplayFor(modelItem => item.planoCatastral)"
                      class="rounded mx-auto d-block img-fluid"
                      alt="Imagen de plano catastral" />
        
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 align-self-start mb-3">
        <h3 class="text-center">Ubicación google maps</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7752.840595459971!2d-89.24215026442796!3d13.692975598438828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f6330258c95e0cb%3A0x7a104c6d37aec464!2sColonia%20San%20Benito%2C%20San%20Salvador!5e0!3m2!1ses-419!2ssv!4v1666206086052!5m2!1ses-419!2ssv" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <button type="button" class="btn btn-primary btn-lg d-flex justify-content-center">@Html.ActionLink("Editar datos", "Edit", new { id = item.id_finca })</button>


</div>
}



@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.foto_finca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre_finca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.extension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.planoCatastral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.localizacionEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tablones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.desripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.msnm_altura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bodega.id_bodega)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.foto_finca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_finca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.extension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.planoCatastral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.localizacionEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tablones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.desripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.msnm_altura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bodega.id_bodega)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_finca }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_finca }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_finca })
        </td>
    </tr>
}

</table>*@
