@model IEnumerable<mifinca.Models.finca>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.foto_finca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre_finca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.extension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.planoCatastral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.localizacionEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tablones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.desripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.msnm_altura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bodega.id_bodega)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.foto_finca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_finca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.extension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.planoCatastral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.localizacionEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tablones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.desripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.msnm_altura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bodega.id_bodega)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_finca }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_finca }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_finca })
        </td>
    </tr>
}

</table>
