@model mifinca.Models.bodega

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>bodega</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_finca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_finca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_ingreso_producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_ingreso_producto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_bodega }) |
    @Html.ActionLink("Back to List", "Index")
</p>
