@model mifinca.Models.usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fec_nac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fec_nac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.finca.foto_finca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.finca.foto_finca)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_usuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
