@model IEnumerable<mifinca.Models.usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fec_nac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.finca.foto_finca)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fec_nac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.foto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.finca.foto_finca)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_usuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_usuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_usuario })
        </td>
    </tr>
}

</table>
