@{
    ViewBag.Title = "Home Page";
}
@*<h2>@Html.ActionLink("Bodega", "Index", "bodegas")</h2>*@

<style>
    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }

    

    .size_lottie{
        width: 300px;
        height: 300px;
    }
</style>


<div class="container">
    <!-- fila -->
    <div class="row">

        <div class="col-12 col-md-6 col-lg-4">
            <!-- card -->
            <div class="card text-center border border-primary shadow-0 m-2">
                <div class="card-body">
                    <h5 class="card-title">@Html.ActionLink("Finca", "Index", "fincas", new { area = "" }, new { @class = "stretched-link" })</h5>

                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        @*<img src="~/imgs/propiedades.jpg" class="img-fluid" />*@
                        <lottie-player class="rounded mx-auto d-block size_lottie img-fluid" src="https://assets5.lottiefiles.com/packages/lf20_svy4ivvy.json" mode="bounce" background="transparent" speed="1" hover loop autoplay></lottie-player>
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                        </a>
                    </div>
                </div>

            </div>
            <!-- fin card -->
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <!-- card -->
            <div class="card text-center border border-primary shadow-0 m-2 ">
                <div class="card-body">
                    <h5 class="card-title">@Html.ActionLink("Planilla", "Index", "planillas", new { area = "" }, new { @class = "stretched-link" })</h5>

                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        @*<img src="~/imgs/planilla.png" class="img-fluid" />*@
                        <lottie-player class="rounded mx-auto d-block size_lottie img-fluid" src="https://assets1.lottiefiles.com/private_files/lf30_Jk3ls8.json" mode="bounce" background="transparent" speed="0.8" hover loop autoplay></lottie-player>
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                        </a>
                    </div>
                </div>

            </div>
            <!-- fin card -->
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <!-- card -->
            <div class="card text-center border border-primary shadow-0 m-2">
                <div class="card-body">
                    <h5 class="card-title">@Html.ActionLink("Finanzas", "Index", "finanzas", new { area = "" }, new { @class = "stretched-link" })</h5>
                </div>
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    @*<img src="~/imgs/finanzas.jpg" class="img-fluid" />*@
                    <lottie-player class="rounded mx-auto d-block size_lottie img-fluid" src="https://assets5.lottiefiles.com/packages/lf20_l5o1uey5.json" mode="bounce" background="transparent" speed="1" hover loop autoplay></lottie-player>
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                    </a>
                </div>
            </div>
            <!-- fin card -->
        </div>





        <div class="col-12 col-md-6 col-lg-4">
            <!-- card -->
            <div class="card text-center border border-primary shadow-0 m-2 ">
                <div class="card-body">
                    <h5 class="card-title">@Html.ActionLink("Empleados", "Index", "empleadoes", new { area = "" }, new { @class = "stretched-link" })</h5>

                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        @*<img src="~/imgs/empleados.jpg" class="img-fluid" />*@
                        <lottie-player class="rounded mx-auto d-block size_lottie img-fluid" src="https://assets4.lottiefiles.com/packages/lf20_khtt8ejx.json" mode="bounce" background="transparent" speed="1" hover loop autoplay></lottie-player>
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                        </a>
                    </div>
                </div>

            </div>
            <!-- fin card -->
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <!-- card -->
            <div class="card text-center border border-primary shadow-0 m-2">
                <div class="card-body">
                    <h5 class="card-title">@Html.ActionLink("Tareas", "Index", "tareas", new { area = "" }, new { @class = "stretched-link" })</h5>

                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        @*<img src="~/imgs/tarea.png" class="img-fluid" />*@
                        <lottie-player class="rounded mx-auto d-block size_lottie img-fluid" src="https://assets4.lottiefiles.com/private_files/lf30_fvqxryww.json" background="transparent" speed="1" hover loop autoplay></lottie-player>
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                        </a>
                    </div>
                </div>

            </div>
            <!-- fin card -->
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <!-- card -->
            <div class="card text-center border border-primary shadow-0 m-2">
                <div class="card-body">
                    <h5 class="card-title">@Html.ActionLink("Bodega", "Index", "productoes", new { area = "" }, new { @class = "stretched-link" })</h5>

                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        @*<img src="~/imgs/bodega.png" class="img-fluid" />*@
                        <lottie-player class="rounded mx-auto d-block size_lottie img-fluid" src="https://assets4.lottiefiles.com/packages/lf20_ribepxhx.json" mode="bounce" background="transparent" speed="1" hover loop autoplay></lottie-player>
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                        </a>
                    </div>
                </div>

            </div>
            <!-- fin card -->
        </div>
    </div>
    <!-- fin fila -->

</div>

<script src="https://unpkg.com/@("@")lottiefiles/lottie-player@("@")latest/dist/lottie-player.js"></script>
