@{
    ViewBag.Title = "Home Page";
}
@*<h2>@Html.ActionLink("Bodega", "Index", "bodegas")</h2>*@




<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">
                    @Html.ActionLink("Propiedades", "Index", "fincas", new { area = "" }, new { @class = "stretched-link" })
                </h5>
            </div>
            <img src="~/imgs/propiedades.jpg" class="card-img-bottom" alt="...">
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">
                    @Html.ActionLink("Planilla", "Index", "planillas", new { area = "" }, new { @class = "stretched-link" })
                </h5>
            </div>
            <img src="~/imgs/planilla.png" class="card-img-bottom" alt="...">
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">
                    @Html.ActionLink("Finanzas", "About", "Home", new { area = "" }, new { @class = "stretched-link" })
                </h5>
            </div>
            <img src="~/imgs/finanzas.jpg" class="card-img-bottom" alt="...">
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">
                    @Html.ActionLink("Empleados", "Index", "empleados", new { area = "" }, new { @class = "stretched-link" })
                </h5>
            </div>
            <img src="~/imgs/empleados.jpg" class="card-img-bottom" alt="...">
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">
                    @Html.ActionLink("Tareas", "Index", "tareas", new { area = "" }, new { @class = "stretched-link" })
                </h5>
            </div>
            <img src="~/imgs/tarea.png" class="card-img-bottom" alt="...">
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">
                    @Html.ActionLink("Bodegas", "Index", "bodegas", new { area = "" }, new { @class = "stretched-link" })
                </h5>
            </div>
            <img src="~/imgs/bodega.png" class="card-img-bottom" alt="...">
        </div>
    </div>


</div>
