@model mifinca.Models.tarea

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar tarea</h2>

<h3>¿Esta seguro eliminar la tarea?</h3>
<div>
    <p class="text-danger">La siguiente acción no se puede deshacer </p>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @*@Html.DisplayNameFor(model => model.empleado.nombre_empleado)*@Nombre del empleado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empleado.nombre_empleado)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.tipo_tarea.tipo)*@Tipo de tarea
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_tarea.tipo)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.fecha_inicio)*@Fecha inicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_inicio)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.fecha_fin)*@Fecha fin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_fin)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.descripcion)*@Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>



    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Eliminar" class="btn btn-danger btn-lg input-block-level form-control mb-2" />
                @Html.ActionLink("Salir sin eliminar", "Index", new { area = "" }, new { @class = "btn btn-success btn-lg d-flex justify-content-center" })
            </div>
        </div>

        @*<div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>*@
    }
</div>
