@model mifinca.Models.tarea

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tarea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empleado.nombre_empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empleado.nombre_empleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_tarea.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_tarea.tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_tarea }) |
    @Html.ActionLink("Back to List", "Index")
</p>
