@model IEnumerable<mifinca.Models.tarea>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empleado.nombre_empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_tarea.tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empleado.nombre_empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_tarea.tipo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_tarea }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_tarea }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_tarea })
        </td>
    </tr>
}

</table>
