@model mifinca.Models.tipo_tarea

@{
    ViewBag.Title = "Details";
}

<h2>Detalle del tipo de tarea</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.tipo)*@ Nombre del tipo de tarea
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

    </dl>
</div>
<div class="col-md-offset-2 col-md-10">
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_tipo }, new { @class = "btn btn-success btn-lg input-block-level form-control mb-2" })
    @Html.ActionLink("Salir", "Index", new { area = "" }, new { @class = "btn btn-danger btn-lg d-flex justify-content-center" })
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_tipo }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
