@model mifinca.Models.producto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*Html.DisplayNameFor(model => model.foto_producto)*@Foto Producto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foto_producto)
        </dd>

        <dt>
            @*Html.DisplayNameFor(model => model.nombre_producto)*@Nombre producto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_producto)
        </dd>

        <dt>
            @*Html.DisplayNameFor(model => model.descripcion)*@Descripcion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @*Html.DisplayNameFor(model => model.cantidad)*@Cantidad
        </dt>

        <dd>
            Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @*Html.DisplayNameFor(model => model.bodega.id_bodega)*@ID Bodega
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bodega.id_bodega)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_producto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
