@model mifinca.Models.producto

@{
    ViewBag.Title = "Details";
}

<h2>Detalle del producto: @Html.DisplayFor(model => model.nombre_producto) </h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*Html.DisplayNameFor(model => model.foto_producto)*@Foto del producto
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.foto_producto)*@
            <img src="~/imgs/productos/@Html.DisplayFor(model => model.foto_producto)" alt="foto del producto" style="height:200px;width:200px;" />
        </dd>

        <dt>
            @*Html.DisplayNameFor(model => model.nombre_producto)*@Nombre del producto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_producto)
        </dd>

        <dt>
            @*Html.DisplayNameFor(model => model.descripcion)*@Descripción del producto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @*Html.DisplayNameFor(model => model.cantidad)*@Cantidad del producto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        @* no lo muestro *@
        <dt class="d-none">
            @*Html.DisplayNameFor(model => model.bodega.id_bodega)*@ID Bodega
        </dt>

        @* no lo muestro *@
        <dd class="d-none">
            @Html.DisplayFor(model => model.bodega.id_bodega)
        </dd>

    </dl>
</div>
<div class="col-md-offset-2 col-md-10">
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_producto }, new { @class = "btn btn-success btn-lg input-block-level form-control mb-2" })
    @Html.ActionLink("Salir", "Index", new { area = "" }, new { @class = "btn btn-danger btn-lg d-flex justify-content-center" })
</div>

@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_producto }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@