@model IEnumerable<mifinca.Models.producto>

@{
    ViewBag.Title = "Index";
}

<style>
    button a {
        color: white;
        text-decoration: none;
    }

        button a:hover {
            color: white;
        }
</style>


<section class="container">
    <div class=" row align-items-center mb-3">
        <h1 class="text-center">Bodega</h1><!--H1 con el titulo-->

        <div class="col-10 p-0">
            <!--Se definen Breakpoints-->
            <div class="input-group">
                <!--Buscador-->
                <span class="input-group-text" id="basic-addon1">Productos:</span>
                <input type="text" class="form-control" placeholder="Pesticida, abono"  aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-2">
            <!--Botton de agregar nuevo empleado-->
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#NewEmpleado">@Html.ActionLink("Agregar producto", "Create")</button>
        </div>
    </div>

</section>


<div class="table-responsive">
    <table class="table table-striped">

        <thead>
            <tr class="table-dark ">
                <th scope="col">Foto</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción y dosis</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Nombre de la finca</th>
            </tr>
        </thead>

        <!--

    <tr class="table-dark">
        <th>
            @*@Html.DisplayNameFor(model => model.foto_producto)*@
            Foto
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.nombre_producto)*@
            Nombre
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.descripcion)*@
            Descripción
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.cantidad)*@
            Cantidad
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.bodega.id_bodega)
                Nombre de la finca
            </th>*@

    </tr>
        -->

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.foto_producto)*@
                    <img src="~/imgs/productos/@Html.DisplayFor(modelItem => item.foto_producto)" alt="foto del producto" style="height:200px;width:200px;" />

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre_producto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cantidad)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.bodega.id_bodega)
                </td>*@
                <td>

                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary">@Html.ActionLink("Editar", "Edit", new { id = item.id_producto })</button>
                        <button type="button" class="btn btn-secondary">@Html.ActionLink("Detalle", "Details", new { id = item.id_producto })</button>
                        <button type="button" class="btn btn-danger">@Html.ActionLink("Eliminar", "Delete", new { id = item.id_producto })</button>
                    </div>
                </td>
            </tr>
        }

    </table>
</div>

