@model mifinca.Models.planilla

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>planilla</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*Html.DisplayNameFor(model => model.fecha_resolucion)*@Fecha Resolucion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_resolucion)
        </dd>

        <dt>
            @*Html.DisplayNameFor(model => model.csv_planilla)*@Link Planilla
        </dt>

        <dd>
            @Html.DisplayFor(model => model.csv_planilla)
        </dd>

        <dt>
            @*Html.DisplayNameFor(model => model.empleado.nombre_empleado)*@Nombre de Empleado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empleado.nombre_empleado)
        </dd>

        <dt>
            @*Html.DisplayNameFor(model => model.finca.foto_finca)*@Foto Finca
        </dt>

        <dd>
            @Html.DisplayFor(model => model.finca.foto_finca)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_planilla }) |
    @Html.ActionLink("Back to List", "Index")
</p>
