@model mifinca.Models.planilla

@{
    ViewBag.Title = "Details";
}

<h2>Detalle de la planilla</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*Html.DisplayNameFor(model => model.fecha_resolucion)*@Fecha Resolucion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_resolucion)
        </dd>

        <dt>
            @*Html.DisplayNameFor(model => model.csv_planilla)*@Enlace de la Planilla
        </dt>

        <dd>
            @Html.DisplayFor(model => model.csv_planilla)
        </dd>

        <dt>
            @*Html.DisplayNameFor(model => model.empleado.nombre_empleado)*@Nombre de Empleado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empleado.nombre_empleado)
        </dd>

        <dt>
            @*Html.DisplayNameFor(model => model.finca.foto_finca)*@Foto Finca
        </dt>

        <dd>
            @Html.DisplayFor(model => model.finca.foto_finca)
        </dd>

    </dl>
</div>
<p>
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Editar", "Edit", new { id = Model.id_planilla }, new { @class = "btn btn-success btn-lg input-block-level form-control mb-2" })
        @Html.ActionLink("Salir", "Index", new { area = "" }, new { @class = "btn btn-danger btn-lg d-flex justify-content-center" })
    </div>
   
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
