@model mifinca.Models.planilla

@{
    ViewBag.Title = "Edit";
}

<style>
    .none {
        display: none;
    }
</style>


<h2>Editar plantilla</h2>


@*@using (Html.BeginForm())*@
@using (Html.BeginForm("Edit", "planillas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_planilla)

        @* se oculta pero se envia *@
        <div class="form-group mb-2 d-none">
            @Html.LabelFor(model => model.id_empleado, "Nombre del Empleado", htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.DropDownList("id_empleado", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_empleado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.id_finca, "Nombre de la Finca", htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @* lo muestro pero no se envia *@
                @Html.DropDownList("id_finca", null, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                @* no se muestra pero si se envia *@
                @Html.DropDownList("id_finca", null, htmlAttributes: new { @class = "form-control none" })
                @Html.ValidationMessageFor(model => model.id_finca, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.fecha_resolucion, "Fecha de Resolucion", htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">

                @Html.EditorFor(model => model.fecha_resolucion,
                                new{htmlAttributes = new{@class = "form-control datepicker",
                                    @Value = Model.fecha_resolucion.Date.ToString("dd-MM-yyyy")}})
                @Html.ValidationMessageFor(model => model.fecha_resolucion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.csv_planilla, "Archivo de Planilla", htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                @Html.TextBox("update_csv_planilla", "", new { type = "file", accept = ".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel", @class = "form-control" }) <br />
                
                @* Oculto este campo pero se envia *@
                @Html.EditorFor(model => model.csv_planilla, new { htmlAttributes = new { @class = "form-control d-none" } })
                @Html.ValidationMessageFor(model => model.csv_planilla, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-3">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success btn-lg input-block-level form-control mb-2" />
                @Html.ActionLink("Salir sin guardar", "Index", new { area = "" }, new { @class = "btn btn-danger btn-lg d-flex justify-content-center" })
            </div>
        </div>


    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
