@model IEnumerable<mifinca.Models.planilla>

@{
    ViewBag.Title = "Index";
}

<style>
    button a {
        color: white;
        text-decoration: none;
    }

        button a:hover {
            color: white;
        }
</style>


<section class="container">
    <div class=" row align-items-center mb-3">
        <h1 class="text-center">Planilla</h1><!--H1 con el titulo-->

        <div class="col-10 p-0">
            <!--Se definen Breakpoints-->
            <div id="buscador" class="input-group ">
                <!--Buscador-->
                <span class="input-group-text" id="basic-addon1">Empleado:</span>
                <input type="text" class="form-control" placeholder="Jorge Daniel" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-2">
            <!--Botton de agregar nuevo empleado-->
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#NewEmpleado">@Html.ActionLink("Agregar planilla", "Create")</button>
        </div>
    </div>

</section>


<div class="table-responsive">
    <table class="table table-striped">
        <tr class="table-dark">
            <th>
                @*@Html.DisplayNameFor(model => model.empleado.nombre_empleado)*@
                Nombre del empleado
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.fecha_resolucion)*@
                Fech de resolución
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.csv_planilla)*@
                Archivo de planilla
            </th>

            <th>
                @*@Html.DisplayNameFor(model => model.finca.foto_finca)*@
                Nombre de finca
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.empleado.nombre_empleado)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.fecha_resolucion)*@
                    @DateTime.Parse(Html.DisplayFor(modelItem => item.fecha_resolucion).ToString()).ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.csv_planilla)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.finca.nombre_finca)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary">@Html.ActionLink("Editar", "Edit", new { id = item.id_planilla })</button>
                        <button type="button" class="btn btn-secondary">@Html.ActionLink("Detalle", "Details", new { id = item.id_planilla })</button>
                        <button type="button" class="btn btn-danger">@Html.ActionLink("Eliminar", "Delete", new { id = item.id_planilla })</button>
                    </div>
                </td>
            </tr>
        }

    </table>

</div>
