@model mifinca.Models.empleado

@{
    ViewBag.Title = "Details";
}

<h2>Información completa de: @Html.DisplayFor(model => model.nombre_empleado) @Html.DisplayFor(model => model.apellido_empleado) </h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.nombre_empleado)*@
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_empleado)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.apellido_empleado)*@
            Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido_empleado)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.direccion_empleado)*@
            Dirección de recidendia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion_empleado)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.telefono_empleado)*@
            Teléfono personal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono_empleado)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.telefonoEmergencia_empleado)*@
            Teléfono de emergencia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonoEmergencia_empleado)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.qr_empleado)*@
            QR del empleado
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.qr_empleado)*@
            <img src="https://api.qrserver.com/v1/create-qr-code/?data=@Html.DisplayFor(model => model.id_empleado)&amp;size=100x100" class="img-thumbnail" />
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.finca.foto_finca)*@
            Finca en la que trabaja
        </dt>

        <dd>
            @Html.DisplayFor(model => model.finca.nombre_finca)
        </dd>

    </dl>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-light">@Html.ActionLink("Editar", "Edit", new { id = Model.id_empleado })</button>
    <button type="button" class="btn btn-light">@Html.ActionLink("Regresar a la lista", "Index")</button>
</div>

